@import "color";

.home {
  width: 100%;
  height: 100vh;
  background-color: $second;

  //
  > main {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    height: 100%;

    > h1 {
      text-transform: uppercase;
      font: 500 6rem "Cursive";
    }
    > p {
      text-transform: uppercase;
      font: 700 1rem "Cursive";
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: no-repeat center url(../Assests/fourth.jpg);
    object-fit: cover;
    filter: blur(5px);
    border-radius: 0 0 200px 200px;
  }
}

.home2 {
  width: 100%;
  height: 100vh;
  padding: 200px 0;
  background-color: $first;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
  > img {
    width: 30%;
    animation: impUp 0.7s linear infinite alternate;
  }
}

@keyframes impUp {
  to {
    transform: translateY(-10px);
  }
}

.home3 {
  width: 100%;
  height: 120vh;
  background-color: $first;
  margin-top: -200px;

  > div {
    width: 70%;
    height: 100vh;
    background-color: $second;
    border-radius: 0 200px 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    > h1 {
      font-weight: 600;
      font-family: "Poppins";
      font-style: italic;
      color: white;
      text-transform: uppercase;
    }
    > p {
      font-weight: 200;
      font-family: "cursive";

      color: white;
      text-transform: uppercase;
    }
  }
}
